<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Files</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
{% extends "main/layout.html" %}
{% block title %}Создание 3D модели{% endblock %}
{% block content %}<div class="features"
<body>
    <div class="container mt-5">
        <h2>Upload Files</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button>
        </form>
    </div>
    
</body>
{% endblock %}
</html>
